body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: #0da12d;
    color: white;
    padding: 20px 0;
}
header h1 {
    margin: 0;
}
.video-container {
    position: relative;
    text-align: center;
    margin: 20px;
}
video {
    width: 100%;
    max-width: 600px; /* Ensure the video has a consistent max width */
    display: block;
    margin: 0 auto; /* Center the video */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.custom-progress {
    position: relative;
    width: 100%;
    max-width: 600px; /* Match the width of the video */
    height: 10px; /* Customize the height */
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px auto; /* Position it below the video */
    cursor: pointer;
}
.progress-bar {
    width: 0;
    height: 100%;
    background-color: #0da12d;
    border-radius: 5px;
}
.timeline-segment {
    position: absolute;
    height: 100%;
    cursor: pointer;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}
.timeline-segment:hover .tooltip {
    display: block;
}
.marker {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: red;
    left: 0;
    top: 0;
}
.speed-controls {
    text-align: center;
    margin: 10px;
}
.speed-controls label {
    font-size: 14px;
    margin-right: 10px;
}
.speed-controls select {
    padding: 5px;
    font-size: 14px;
}
input[type="file"] {
    margin-bottom: 20px;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls-container, .tables-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}
.controls-group, .table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
.divider {
    width: 2px;
    background-color: #ddd;
    margin: 0 20px;
}
.action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.action-buttons button, .controls button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #167a16;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.action-buttons button.active {
    background-color: #c2301c; /* Orange color when active */
}
.action-buttons button:hover, .controls button:hover {
    background-color: #14b91c;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #0a750f;
    color: #fff;
}
td button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
td button:hover {
    background-color: #ff1a1a;
}
.person-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.person-header h2 {
    margin: 0;
    margin-right: 10px;
}
button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #257c14;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1ab815;
}
textarea.remarks {
    width: 90%;
    padding: 5px;
    border: none;
    resize: vertical; /* Allows vertical resizing */
    overflow: hidden;
}

.highlight {
    background-color: red;
}
